<div class="food">
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-bhel-puri.png">
    <div class="text">BHEL PURI</div>
    <div class="price">Rs.100</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-bombay-vada-pav.png">
    <div class="text">VADA PAV</div>
    <div class="price">Rs.100</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-channa-samosa.png">
    <div class="text">SAMOSA</div>
    <div class="price">Rs.100</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-dahi-papdi-chaat.png">
    <div class="text">PAPDI CHAAT</div>
    <div class="price">Rs.100</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-jodhpuri-harimirch-ki-chaat.png">
    <div class="text">JODHPURI CHAAT</div>
    <div class="price">Rs.100</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-dahi-batata-puri.png">
    <div class="text">DAHI BATATA PURI</div>
    <div class="price">Rs.100</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
</div>
