<div class="food">
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-red-juice.png">
  <div class="text">RED JUICE</div>
  <div class="price">Rs.100</div>
  <div id="plusminus">
  <input type="button" value="-" id="moins" >
<input type="text" size="1" value="0" id="count">
  <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-watermelon-juice.png">
  <div class="text">WATERMELON JUICE</div>
  <div class="price">Rs.100</div>
  <div id="plusminus">
  <input type="button" value="-" id="moins" >
<input type="text" size="1" value="0" id="count">
  <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-water.png">
  <div class="text">WATER</div>
  <div class="price">Rs.40</div>
  <div id="plusminus">
  <input type="button" value="-" id="moins" >
<input type="text" size="1" value="0" id="count">
  <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-cappuccino-premium.png">
  <div class="text">CAPPUCCINO</div>
  <div class="price">Rs.100</div>
  <div id="plusminus">
  <input type="button" value="-" id="moins" >
<input type="text" size="1" value="0" id="count">
  <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-green-tea.png">
  <div class="text">GREEN TEA</div>
  <div class="price">Rs.110</div>
  <div id="plusminus">
  <input type="button" value="-" id="moins" >
<input type="text" size="1" value="0" id="count">
  <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-coke-small-450-ml.png">
  <div class="text">COKE SMALL</div>
  <div class="price">Rs.90</div>
  <div id="plusminus">
  <input type="button" value="-" id="moins" >
<input type="text" size="1" value="0" id="count">
  <input type="button" value="+" id="plus" >
</div>
</div>
</div>
