<div class="food">
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-chilli-chicken-pizza.png">
    <div class="text">CHILLI CHICKEN PIZZA</div>
    <div class="price">Rs.170</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-chilli-garden-vegetable-pizza.png">
    <div class="text">GARDEN VEG PIZZA</div>
    <div class="price">Rs.160</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-margherita-pizza.png">
    <div class="text">MARGHERITA PIZZA</div>
    <div class="price">Rs.160</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-paneer-tikka-pizza.png">
    <div class="text">PANNEER TIKKA PIZZA</div>
    <div class="price">Rs.160</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-vegetable-masala-cheese-sandwich.png">
    <div class="text">VEG MASALA SANDWICH</div>
    <div class="price">Rs.140</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>

<div class="fooditem">
  <img src="https://img.spicinemas.in/resources/images/food/vertical-chilli-chicken-sandwich.png">
    <div class="text">CHILLI CHICKEN SANDWICH</div>
    <div class="price">Rs.140</div>
    <div id="plusminus">
    <input type="button" value="-" id="moins" >
  <input type="text" size="1" value="0" id="count">
    <input type="button" value="+" id="plus" >
</div>
</div>
</div>
